body {
  font-family: "Arial", "Meiryo", sans-serif;/*左最優先の今回の使用フォント*/
  margin: 0; /* デフォルトのマージンリセット */
  text-align: center; /* 全てのテキストを中央寄せ */
}

html {
  font-size: 20px; /* ルート要素のフォントサイズ */
}

main {
  display: flex;
  justify-content: center; /* 横方向の中央寄せ */
  height: 100vh; /* ビューポートの高さ合わせる */
}

#basic {
  margin: auto; /* 自動マージン中央寄せ */
}

h1 {
  font-family: 'Josefin Sans', sans-serif; /* h1のフォント */
  font-size: 40px; /* ルート要素の2倍 */
  letter-spacing: 1.2em; /* 文字間を1.2倍 */
  text-shadow: 2px 2px 5px rgba(115, 115, 114); /* h1に影を付ける */
  border-bottom: 3px solid rgba(115, 115, 114);/* 下線 */
  max-width: 625px; /* コンテンツの最大幅を設定 */
}

.heading1, .paragraph1 {
  color: rgb(255, 192, 203); /* ピンク */
}

.paragraph1 {
  color: skyblue; /* スカイブルー */
}

.decoration {
  font-weight: bold; /* 太字 */
}

/* スカイブルーの見出し */
h2:nth-of-type(2), h2:nth-of-type(4), h2:nth-of-type(6) {
  color: skyblue;
}

/* ピンクの見出し */
h2:nth-of-type(1), h2:nth-of-type(3), h2:nth-of-type(5) {
  color: rgb(255, 192, 203);
}

p {
  white-space: nowrap; /* 改行を必要に応じて抑制 */
}

span.no-break {
  white-space: nowrap; /* 特定の部分だけ改行を防ぐ */
}